$light: rgba(160, 160, 160, 0.555);
$white: #fff;
$danger: #dc3545;
$cyan: #17a2b8;


$utilities: (
        "opacity": (
                property: opacity,
                values: (
                        0: 0,
                        25: .25,
                        50: .5,
                        75: .75,
                        85: .85,
                        100: 1,
                )
        ),
        "width": (
                property: width,
                class: w,
                values: (
                        3: 3%,
                        5: 5%,
                        25: 25%,
                        50: 50%,
                        75: 75%,
                        100: 100%,
                        auto: auto
                )
        )
);

$spacer: 1rem;

$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 20,
);

.bg-opacity-dark {
  background-color: rgba(0, 0, 0, 0.658);
}

.text-hover-success,
.text-hover-danger {
  color: $white;
}

.text-hover-success:hover {
  color: $cyan;
}

.text-hover-danger:hover {
  color: $danger;
}

$input-btn-padding-y-lg: 1.5rem;
$input-btn-padding-x-lg: 3.5rem;

