{% extends 'base.html.twig' %}
{% block main %}
	<h1 class="title-article3">ERREUR 500 : Erreur interne du serveur</h1>
	<p>
		Le serveur Web rencontre alors une difficulté pour trouver une page Web, sans être capable d'identifier précisément la source du problème
	</p>
	<div class="ErrorImage"></div>
{% endblock %}
